<div class="main-404 container">   
    <div class="content">
        <h2>404</h2>
        <h3>error - page not found</h3>
        <p>Oops! The page you are looking for does not exist.<br>It might have been moved or deleted. Return to our home page.</p>
        <a href="#" class="go-home">back to home</a>
    </div>
</div>