	<!-- Main Container  -->
    <div id="content">
        <div class="so-page-builder">
            <div class="page-builder-ltr">
                <div class="row row_a90w row-style">
                    <!--- SLider right--> 
                    <div class="module sohomepage-slider so-homeslider-ltr">
                        <div class="modcontent">
                            <div id="sohomepage-slider2" class="slider-home2">
                                <div class="so-homeslider yt-content-slider full_slider owl-drag" data-rtl="yes" data-autoplay="yes" data-autoheight="no" data-delay="4" data-speed="0.6" data-items_column00="1" data-items_column0="1" data-items_column1="1" data-items_column2="1"  data-items_column3="1" data-items_column4="1" data-arrows="yes" data-pagination="yes" data-lazyload="yes" data-loop="yes" data-hoverpause="yes">
                                    <div class="item">
                                        <a href="#" title="slide 1 - 1" >
                                            <img class="responsive" src="webUI/image/catalog/demo/slider/home2/slider.jpg" alt="slide 1 - 1">
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="#" title="slide 1 - 2" >
                                            <img class="responsive" src="webUI/image/catalog/demo/slider/home2/slider.jpg" alt="slide 1 - 1">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travel-search-content2">
                <div class="container page-builder-ltr">
                    <div class="row">
                        <form method="get" class="travl-search-advanced clearfix">
                            <div class="search-item city pull-left">
                                <p>Destinations</p>
                                <input type="text" class="tour-search-input" id="city" placeholder="Viet Nam">
                            </div>
                            <div class="search-item date pull-left">
                                <input type="text" class="tour-search-input datepicker hasDatepicker" id="date_from" placeholder="DD/MM/YY">
                            </div>
                            <div class="search-item date pull-left">
                                <input type="text" class="tour-search-input datepicker hasDatepicker" id="date_to" placeholder="DD/MM/YY">
                            </div>
                            <div class="search-item item-select pull-left">
                                <select name="people">
                                    <option value="1">1 people</option>
                                    <option value="2">2 people</option>
                                    <option value="3">3 people</option>
                                    <option value="4">4 people</option>
                                </select>
                            </div>
                            <div class="search-item item-budget pull-left">
                                <input type="text" class="hotel-budget-input" id="budget" placeholder="$1000">
                            </div>
                            <div class="button-submit pull-left">
                                <button type="submit" class="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                <input type="hidden" name="s">
                                <input type="hidden" name="search_tour" value="1">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <section class="section-home2-style1">
                <div class="container page-builder-ltr">
                    <div class="row row-style row_a1">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_a1c">
                            <div class="module so-deals-1tr so-deals">
                                <div class="head-title clearfix">
                                    <div class="block-title pull-left">
                                        <h3><span>popular destinations</span></h3>
                                    </div>
                                    <a href="tour.html" class="pull-right">view all <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                                <div class="modcontent">
                                    <div class="so-deal modcontent products-list grid clearfix clearfix preset00-3 preset01-3 preset02-2 preset03-2 preset04-1  button-type1  style2">
                                        <div class="category-slider-inner products-list yt-content-slider" data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column00="3" data-items_column0="3" data-items_column1="3" data-items_column2="2"  data-items_column3="2" data-items_column4="1" data-arrows="no" data-pagination="no" data-lazyload="yes" data-loop="yes" data-hoverpause="yes">
                                            <div class="item">
                                                <div class="item-inner">
                                                    <div class="transition product-layout">
                                                        <div class="product-item-container ">
                                                            <div class="item-block so-quickview">
                                                                <div class="image">
                                                                    <a href="tour-detail.html" >
                                                                        <img src="webUI/image/catalog/demo/product/travel/p1.jpg" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
                                                                    </a>
                                                                    <span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
                                                                    <span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
                                                                </div>
                                                                <div class="item-content clearfix">
                                                                    <h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
                                                                    <div class="reviews-content">
                                                                        <div class="star">
                                                                            <span style="width: 60px"></span>	
                                                                        </div>
                                                                        <a href="#" class="review-link" rel="nofollow">(15 reviews)</a>
                                                                    </div>
                                                                    <ul>
                                                                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> New Zealand</li>
                                                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i> 2 Day</li>
                                                                        <li><i class="fa fa-user-circle" aria-hidden="true"></i> 4 persons</li>
                                                                    </ul>
                                                                    <div class="item-bot clearfix">
                                                                        <div class="price pull-left">
                                                                            from <label>$230</label><span>person</span>
                                                                        </div>
                                                                        <a href="booking-step.html" class="book-now btn-quickview quickview quickview_handler pull-right" title="Quick View" data-title="Quick View" data-fancybox-type="iframe">Book now</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="item-inner">
                                                    <div class="transition product-layout">
                                                        <div class="product-item-container ">
                                                            <div class="item-block so-quickview">
                                                                <div class="image">
                                                                    <a href="tour-detail.html" >
                                                                        <img src="webUI/image/catalog/demo/product/travel/p2.jpg" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
                                                                    </a>
                                                                    <span class="label-rate"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
                                                                </div>
                                                                <div class="item-content clearfix">
                                                                    <h3><a href="tour-detail.html">The Windmills of Schie-dam, Holland</a></h3>
                                                                    <div class="reviews-content">
                                                                        <div class="star">
                                                                            <span style="width: 60px"></span>	
                                                                        </div>
                                                                        <a href="#" class="review-link" rel="nofollow">(10 reviews)</a>
                                                                    </div>
                                                                    <ul>
                                                                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> New Zealand</li>
                                                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i> 2 Day</li>
                                                                        <li><i class="fa fa-user-circle" aria-hidden="true"></i> 4 persons</li>
                                                                    </ul>
                                                                    <div class="item-bot clearfix">
                                                                        <div class="price pull-left">
                                                                            from <label>$230</label><span>person</span>
                                                                        </div>
                                                                        <a href="booking-step.html" class="book-now btn-quickview quickview quickview_handler pull-right" title="Quick View" data-title="Quick View" data-fancybox-type="iframe">Book now</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="item-inner">
                                                    <div class="transition product-layout">
                                                        <div class="product-item-container ">
                                                            <div class="item-block so-quickview">
                                                                <div class="image">
                                                                    <a href="tour-detail.html" >
                                                                        <img src="webUI/image/catalog/demo/product/travel/p3.jpg" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
                                                                    </a>
                                                                    <span class="label-rate"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
                                                                </div>
                                                                <div class="item-content clearfix">
                                                                    <h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
                                                                    <div class="reviews-content">
                                                                        <div class="star">
                                                                            <span style="width: 60px"></span>	
                                                                        </div>
                                                                    </div>
                                                                    <ul>
                                                                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> New Zealand</li>
                                                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i> 2 Day</li>
                                                                        <li><i class="fa fa-user-circle" aria-hidden="true"></i> 4 persons</li>
                                                                    </ul>
                                                                    <div class="item-bot clearfix">
                                                                        <div class="price pull-left">
                                                                            from <label>$800</label><span>person</span>
                                                                        </div>
                                                                        <a href="booking-step.html" class="book-now btn-quickview quickview quickview_handler pull-right" title="Quick View" data-title="Quick View" data-fancybox-type="iframe">Book now</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-home2-style2">
                <div class="container page-builder-ltr">
                    <div class="row row-style row_a1">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_a1c">
                            <div class="module so-deals-1tr so-deals">
                                <div class="head-title clearfix">
                                    <div class="block-title pull-left">
                                        <h3><span>Tour all around the world</span></h3>
                                    </div>
                                    <a href="destination-list.html" class="pull-right">view all <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                                <div class="modcontent">
                                    <div class="so-deal modcontent products-list grid clearfix clearfix preset00-3 preset01-3 preset02-2 preset03-2 preset04-1  button-type1  style2">
                                        <div class="category-slider-inner products-list yt-content-slider" data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column00="4" data-items_column0="4" data-items_column1="4" data-items_column2="2"  data-items_column3="2" data-items_column4="1" data-arrows="no" data-pagination="no" data-lazyload="yes" data-loop="yes" data-hoverpause="yes">
                                            <div class="item">
                                                <div class="transition product-layout">
                                                    <div class="product-item-container ">
                                                        <div class="item-block so-quickview">
                                                            <div class="image">
                                                                <a href="destination-detail.html" >
                                                                    <img src="webUI/image/catalog/demo/product/travel/chosse1.jpg" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
                                                                </a>
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title clearfix">
                                                                    <h3 class="pull-left"><a href="destination-detail.html"><i class="fa fa-map-marker" aria-hidden="true"></i> England</a></h3>
                                                                    <span class="pull-right">14 tours</span>
                                                                </div>			
                                                                <div class="view-all"><a href="destination-list.html">View all tour <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="transition product-layout">
                                                    <div class="product-item-container ">
                                                        <div class="item-block so-quickview">
                                                            <div class="image">
                                                                <a href="destination-detail.html" >
                                                                    <img src="webUI/image/catalog/demo/product/travel/chosse2.jpg" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
                                                                </a>
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title clearfix">
                                                                    <h3 class="pull-left"><a href="destination-detail.html"><i class="fa fa-map-marker" aria-hidden="true"></i> France</a></h3>
                                                                    <span class="pull-right">14 tours</span>
                                                                </div>				
                                                                <div class="view-all"><a href="destination-list.html">View all tour <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="transition product-layout">
                                                    <div class="product-item-container ">
                                                        <div class="item-block so-quickview">
                                                            <div class="image">
                                                                <a href="destination-detail.html">
                                                                    <img src="webUI/image/catalog/demo/product/travel/chosse3.jpg" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
                                                                </a>
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title clearfix">
                                                                    <h3 class="pull-left"><a href="destination-detail.html"><i class="fa fa-map-marker" aria-hidden="true"></i> Australia</a></h3>
                                                                    <span class="pull-right">14 tours</span>
                                                                </div>				
                                                                <div class="view-all"><a href="destination-list.html">View all tour <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="transition product-layout">
                                                    <div class="product-item-container ">
                                                        <div class="item-block so-quickview">
                                                            <div class="image">
                                                                <a href="destination-detail.html">
                                                                    <img src="webUI/image/catalog/demo/product/travel/chosse4.jpg" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
                                                                </a>
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title clearfix">
                                                                    <h3 class="pull-left"><a href="destination-detail.html"><i class="fa fa-map-marker" aria-hidden="true"></i> Laos</a></h3>
                                                                    <span class="pull-right">14 tours</span>
                                                                </div>				
                                                                <div class="view-all"><a href="destination-list.html">View all tour <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="section-home2-style3">
                <div class="ytvideo" data-video="ibuUmMhD2Pg" style="width:1920px; height:500px; background-image:url(image/catalog/demo/banners/home2/video2.jpg)">
                    <div class="seo">Travel</div>
                </div>
            </div>
            <section class="section-home2-style4">
                <div class="container page-builder-ltr">
                    <div class="row row-style row_a1">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_a1c">
                            <div class="module so-deals-1tr so-deals">
                                <div class="head-title clearfix">
                                    <div class="block-title pull-left">
                                        <h3><span>Flash deal</span></h3>
                                        <p>Our best last minutes offers. Book now and go!</p>
                                    </div>
                                    <a href="tour.html" class="pull-right">view all <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                                <div class="modcontent">
                                    <div class="so-deal modcontent products-list grid clearfix clearfix preset00-3 preset01-3 preset02-2 preset03-2 preset04-1  button-type1  style2">
                                        <div class="category-slider-inner products-list yt-content-slider" data-rtl="yes" data-autoplay="yes" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column00="4" data-items_column0="4" data-items_column1="4" data-items_column2="2"  data-items_column3="2" data-items_column4="1" data-arrows="no" data-pagination="no" data-lazyload="yes" data-loop="yes" data-hoverpause="yes">
                                            <div class="item">
                                                <div class="transition product-layout">
                                                    <div class="product-item-container ">
                                                        <div class="item-block so-quickview">
                                                            <div class="image">
                                                                <a href="tour-detail.html" >
                                                                    <img src="webUI/image/catalog/demo/product/travel/t1.jpg" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
                                                                </a>
                                                                <span class="price">$230</span>
                                                                <span class="label-bolt"><i class="fa fa-bolt" aria-hidden="true"></i></span>
                                                            </div>
                                                            <div class="item-content">
                                                                <h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
                                                                <div class="reviews-content">
                                                                    <div class="star">
                                                                        <span style="width: 60px"></span>	
                                                                    </div>
                                                                </div>
                                                                <ul>
                                                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> New Zealand</li>
                                                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> 2 Day</li>
                                                                    <li><i class="fa fa-user-circle" aria-hidden="true"></i> 4 Pers</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="transition product-layout">
                                                    <div class="product-item-container ">
                                                        <div class="item-block so-quickview">
                                                            <div class="image">
                                                                <a href="tour-detail.html" >
                                                                    <img src="webUI/image/catalog/demo/product/travel/t2.jpg" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
                                                                </a>
                                                                <span class="price">$230</span>
                                                                <span class="label-bolt"><i class="fa fa-bolt" aria-hidden="true"></i></span>
                                                            </div>
                                                            <div class="item-content">
                                                                <h3><a href="tour-detail.html">The Windmills of Schie-dam, Holland</a></h3>
                                                                <div class="reviews-content">
                                                                    <div class="star">
                                                                        <span style="width: 60px"></span>	
                                                                    </div>
                                                                </div>
                                                                <ul>
                                                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> New Zealand</li>
                                                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> 2 Day</li>
                                                                    <li><i class="fa fa-user-circle" aria-hidden="true"></i> 4 Pers</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="transition product-layout">
                                                    <div class="product-item-container ">
                                                        <div class="item-block so-quickview">
                                                            <div class="image">
                                                                <a href="tour-detail.html" >
                                                                    <img src="webUI/image/catalog/demo/product/travel/t3.jpg" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
                                                                </a>
                                                                <span class="price">$230</span>
                                                                <span class="label-bolt"><i class="fa fa-bolt" aria-hidden="true"></i></span>
                                                            </div>
                                                            <div class="item-content">
                                                                <h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
                                                                <div class="reviews-content">
                                                                    <div class="star">
                                                                        <span style="width: 60px"></span>	
                                                                    </div>
                                                                </div>
                                                                <ul>
                                                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> New Zealand</li>
                                                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> 2 Day</li>
                                                                    <li><i class="fa fa-user-circle" aria-hidden="true"></i> 4 Pers</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="transition product-layout">
                                                    <div class="product-item-container ">
                                                        <div class="item-block so-quickview">
                                                            <div class="image">
                                                                <a href="tour-detail.html" >
                                                                    <img src="webUI/image/catalog/demo/product/travel/t4.jpg" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
                                                                </a>
                                                                <span class="price">$230</span>
                                                                <span class="label-bolt"><i class="fa fa-bolt" aria-hidden="true"></i></span>
                                                            </div>
                                                            <div class="item-content">
                                                                <h3><a href="tour-detail.html">The Windmills of Schie-dam, Holland</a></h3>
                                                                <div class="reviews-content">
                                                                    <div class="star">
                                                                        <span style="width: 60px"></span>	
                                                                    </div>
                                                                </div>
                                                                <ul>
                                                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> New Zealand</li>
                                                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> 2 Day</li>
                                                                    <li><i class="fa fa-user-circle" aria-hidden="true"></i> 4 Pers</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-home2-style5">
                <div class="container page-builder-ltr">
                    <div class="row row-style row_a1">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_a1c">
                            <div class="module so-deals-1tr so-deals">
                                <div class="head-title clearfix">
                                    <div class="block-title pull-left">
                                        <h3><span>Follow AN Adventure</span></h3>
                                        <p>Our tour activities attached.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="ourtour clearfix">
                                        <div class="item col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <div class="item-inner clearfix">
                                                <div class="icon pull-left"><img src="webUI/image/catalog/demo/banners/home2/icon1.png" alt="Static Image"></div>
                                                <div class="content">
                                                    <h3><a href="#">Beach Activities</a></h3>
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>	
                                            </div>
                                            <div class="item-inner clearfix">
                                                <div class="icon pull-left"><img src="webUI/image/catalog/demo/banners/home2/icon2.png" alt="Static Image"></div>
                                                <div class="content">
                                                    <h3><a href="#">Watter-skiing</a></h3>
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>	
                                            </div>
                                            <div class="item-inner clearfix">
                                                <div class="icon pull-left"><img src="webUI/image/catalog/demo/banners/home2/icon3.png" alt="Static Image"></div>
                                                <div class="content">
                                                    <h3><a href="#">Camp FIre</a></h3>
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <div class="item-inner clearfix">
                                                <div class="icon pull-left"><img src="webUI/image/catalog/demo/banners/home2/icon4.png" alt="Static Image"></div>
                                                <div class="content">
                                                    <h3><a href="#">Paparazzi</a></h3>
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>	
                                            </div>
                                            <div class="item-inner clearfix">
                                                <div class="icon pull-left"><img src="webUI/image/catalog/demo/banners/home2/icon5.png" alt="Static Image"></div>
                                                <div class="content">
                                                    <h3><a href="#">Skydiving</a></h3>
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>	
                                            </div>
                                            <div class="item-inner clearfix">
                                                <div class="icon pull-left"><img src="webUI/image/catalog/demo/banners/home2/icon6.png" alt="Static Image"></div>
                                                <div class="content">
                                                    <h3><a href="#">Vehicle SUpport</a></h3>
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <div class="item-inner clearfix">
                                                <div class="icon pull-left"><img src="webUI/image/catalog/demo/banners/home2/icon7.png" alt="Static Image"></div>
                                                <div class="content">
                                                    <h3><a href="#">hot-Air ballons</a></h3>
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>	
                                            </div>
                                            <div class="item-inner clearfix">
                                                <div class="icon pull-left"><img src="webUI/image/catalog/demo/banners/home2/icon8.png" alt="Static Image"></div>
                                                <div class="content">
                                                    <h3><a href="#">luxury yacht</a></h3>
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>	
                                            </div>
                                            <div class="item-inner clearfix">
                                                <div class="icon pull-left"><img src="webUI/image/catalog/demo/banners/home2/icon9.png" alt="Static Image"></div>
                                                <div class="content">
                                                    <h3><a href="#">Climb Mountain</a></h3>
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-home2-style6">
                <div class="container page-builder-ltr">
                    <div class="row row-style row_a1">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_a1c">
                            <div class="module so-deals-1tr so-deals">
                                <div class="head-title clearfix">
                                    <div class="block-title pull-left">
                                        <h3><span>Travel tips</span></h3>
                                    </div>
                                </div>
                                <div class="module custom-ourblog2 clearfix default-nav">
                                    <div class="modcontent">
                                        <div id="so_latest_blog_1" class="so-blog-external button-type2 button-type2">
                                            <div class="category-slider-inner products-list yt-content-slider blog-external clearfix " data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column00="1" data-items_column0="1" data-items_column1="1" data-items_column2="1"  data-items_column3="1" data-items_column4="1" data-arrows="no" data-pagination="yes" data-lazyload="yes" data-loop="yes" data-hoverpause="yes">
                                                <div class="media">
                                                    <div class="item head-button">
                                                        <div class="content-detail">
                                                            <div class="media-content so-block">
                                                                <h4 class="media-heading head-item">
                                                                    <a href="blog-detail.html" title="Aestibulum ipsum a ornare car" >The 7 Best Ways To Travel Around Europe Cheap</a>
                                                                </h4>
                                                                <div class="entry-meta clearfix">
                                                                    <div class="entry-date font-ct date-bottom">
                                                                        <i class="fa fa-calendar" aria-hidden="true"></i>11/11/2019
                                                                    </div>
                                                                    <div class="entry-comment">
                                                                        <i class="fa fa-commenting" aria-hidden="true"></i>2 Comments
                                                                    </div>
                                                                    <div class="entry-social">
                                                                        <i class="fa fa-share-alt" aria-hidden="true"></i><a href="#">Share</a>
                                                                    </div>
                                                                </div>
                                                                <div class="description">
                                                                    Traveling around Europe can be fairly expensive. Airline tickets, high-speed trains, overnight trains, ferries they can all eat into your limited and precious travel budget.  I mean, you came to spend money on delicious...
                                                                </div>
                                                                <div class="readmore">
                                                                    <a href="blog-detail.html" >Read more</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="content-img">
                                                            <a href="#" >
                                                                <img src="webUI/image/catalog/demo/blog/blogh21.jpg" alt="Aestibulum ipsum a ornare car" width="670" height="477">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="media">
                                                    <div class="item head-button">
                                                        <div class="content-detail">
                                                            <div class="media-content so-block">
                                                                <h4 class="media-heading head-item">
                                                                    <a href="blog-detail.html" title="Aestibulum ipsum a ornare car" >The 7 Best Ways To Travel Around Europe Cheap</a>
                                                                </h4>
                                                                <div class="entry-meta clearfix">
                                                                    <div class="entry-date font-ct date-bottom">
                                                                        <i class="fa fa-calendar" aria-hidden="true"></i>11/11/2019
                                                                    </div>
                                                                    <div class="entry-comment">
                                                                        <i class="fa fa-commenting" aria-hidden="true"></i>2 Comments
                                                                    </div>
                                                                    <div class="entry-social">
                                                                        <i class="fa fa-share-alt" aria-hidden="true"></i><a href="#">Share</a>
                                                                    </div>
                                                                </div>																		
                                                                <div class="description">
                                                                    Traveling around Europe can be fairly expensive. Airline tickets, high-speed trains, overnight trains, ferries they can all eat into your limited and precious travel budget.  I mean, you came to spend money on delicious...
                                                                </div>
                                                                <div class="readmore">
                                                                    <a href="blog-detail.html" >Read more</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="content-img">
                                                            <a href="#" >
                                                                <img src="webUI/image/catalog/demo/blog/blogh22.jpg" alt="Aestibulum ipsum a ornare car" width="670" height="477">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="media">
                                                    <div class="item head-button">
                                                        <div class="content-detail">
                                                            <div class="media-content so-block">
                                                                <h4 class="media-heading head-item">
                                                                    <a href="blog-detail.html" title="Aestibulum ipsum a ornare car" >The 7 Best Ways To Travel Around Europe Cheap</a>
                                                                </h4>
                                                                <div class="entry-meta clearfix">
                                                                    <div class="entry-date font-ct date-bottom">
                                                                        <i class="fa fa-calendar" aria-hidden="true"></i>11/11/2019
                                                                    </div>
                                                                    <div class="entry-comment">
                                                                        <i class="fa fa-commenting" aria-hidden="true"></i>2 Comments
                                                                    </div>
                                                                    <div class="entry-social">
                                                                        <i class="fa fa-share-alt" aria-hidden="true"></i><a href="#">Share</a>
                                                                    </div>
                                                                </div>																		
                                                                <div class="description">
                                                                    Traveling around Europe can be fairly expensive. Airline tickets, high-speed trains, overnight trains, ferries they can all eat into your limited and precious travel budget.  I mean, you came to spend money on delicious...
                                                                </div>
                                                                <div class="readmore">
                                                                    <a href="blog-detail.html" >Read more</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="content-img">
                                                            <a href="#" >
                                                                <img src="webUI/image/catalog/demo/blog/blogh23.jpg" alt="Aestibulum ipsum a ornare car" width="670" height="477">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-home2-style7">
                <div class="container page-builder-ltr">
                    <div class="head-title clearfix">
                        <div class="block-title pull-left">
                            <h3><span>Join the newsletter</span></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="sw-newletter">				
                        <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-838" method="post" data-id="838" data-name="">
                            <div class="mc4wp-form-fields">
                                <input class="frm-email" type="email" name="EMAIL" placeholder="Enter Your email..." required="">  
                                <button class="frm-submit" type="submit" value="subscribe">SUBSCRIBE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- //Main Container -->