.toggle-switch-btn {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 40px;
  }
  
  .toggle-switch-btn input {display:none;}
  
  .toggle-switch-btn .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
     border-radius: 34px;
  }
  
  .toggle-switch-btn .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  .toggle-switch-btn input:checked + .slider {
    background-color: #2ab934;
  }
  
  .toggle-switch-btn input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .toggle-switch-btn input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(80px);
  }
  
  /*------ ADDED CSS ---------*/
  .toggle-switch-btn .slider:after
  {
   content:'PASİF';
   color: white;
   display: block;
   position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 50%;
   font-size: 14px;
   font-family: Verdana, sans-serif;
  }
  
  .toggle-switch-btn input:checked + .slider:after
  {  
    content:'AKTİF';
  }
  
  /*--------- END --------*/